<app-page-header firstTitle="Pages" title="Blog Details" title1="Blog" activeTitle="Blog Details" ></app-page-header>

   <!-- Start::row-1 -->
   <div class="row">
    <div class="col-xl-9">
        <div class="row">
            <div class="col-xl-12">
                <app-grid-loader *ngIf="loading" [rowCount]="1" >
                </app-grid-loader>
                
                <div *ngIf="!loading"  class="card custom-card">
                    <a href="javascript:void(0);" class="p-3">
                        <img [src]="blog?.image" class="card-img rounded-3 blog-details-img" alt="Top Mistakes in Mock Tests">
                    </a>
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <p class="h5 fw-semibold mb-0">{{blog?.title}}</p>
                          
                            <div *ngIf="blog" class="btn-list">
                                <a type="button" target="_blank" [href]="'https://www.facebook.com/sharer/sharer.php?u='+blog.link" class="btn btn-icon btn-facebook btn-wave ng-star-inserted"><i class="ri-facebook-line"></i></a>
                                <a type="button" target="_blank" [href]="'https://twitter.com/intent/tweet?text='+blog.title + ' - ' + blog.link" class="btn btn-icon btn-twitter btn-wave ng-star-inserted"><i class="ri-twitter-x-line"></i></a>
                                <a type="button" target="_blank" [href]="'whatsapp://send?text='+blog.title + ' - ' + blog.link" class="btn btn-icon btn-success btn-wave ng-star-inserted"><i class="ri-whatsapp-line"></i></a>
                                <!-- <button (click)="openCommentModal(blog)" type="button" class="btn btn-md btn-info-light btn-wave"><i class="ri-message-square-line"></i> Comment</button> -->
                            </div>
                        </div>
                        <div class="d-sm-flex align-items-center mb-3">
                            <div class="d-flex align-items-center flex-fill">
                                <span class="avatar avatar-md avatar-rounded me-3">
                                    <img src="/assets/images/faces/12.jpg" alt="Quizlo Ai">
                                </span>
                                <div>
                                    <p class="mb-0 fw-medium">{{blog?.author}}</p>
                                    <div class="fs-12 text-muted fw-normal"><i class="ri-calendar-fill me-2 align-middle lh-1 text-warning"></i>{{blog?.date}}</div>
                                </div>
                            </div>
                            <div class="btn-list mt-sm-0 mt-2">
                                @for (tag of blog.tags.split(','); track $index) {
                                    <span class="badge bg-warning badge-dot" [ngClass]="{'bg-success': $index /2 === 0}">{{tag}} </span> &nbsp;
                                }
                            </div>
                        </div>

                        <div class="mt-4" [innerHTML]="blog.description"></div>
                    </div>
                </div>
                
                

            </div>
            <div class="col-xl-12">
                <!-- <div class="card custom-card overflow-hidden">
                    <div class="card-header">
                        <div class="card-title">
                            COMMENTS
                        </div>
                    </div>
                    <div class="card-body p-0 blogdetails-scroll">
                        <overlay-scrollbars>
                        <ul class="list-group list-group-flush" id="blog-details-comment-list">

                                <li class="list-group-item border-0 border-bottom">
                                    <div class="d-flex align-items-start gap-3 flex-wrap">
                                        <div>
                                            <span class="avatar avatar-lg avatar-rounded">
                                                <img src="./assets/images/faces/3.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill w-50">
                                            <span class="fw-medium d-block mb-1">Mary Cateline</span>
                                            <span class="d-block mb-3">This blog captures the essence of why music is such a powerful force in our lives. It's not just about the sounds. Thank you for reminding us of the beauty and magic of music</span>
                                            <div class="btn-list">
                                                <button class="btn btn-sm btn-primary-light btn-wave">Reply<i class="ri-reply-line ms-1"></i></button>
                                                <button class="btn btn-sm btn-success-light btn-wave">Report<i class="ri-error-warning-line ms-1"></i></button>
                                            </div>
                                        </div>
                                        <div class="btn-list">
                                            <button class="btn btn-icon btn-sm btn-info-light btn-wave"><i class="ri-thumb-up-line"></i></button>
                                            <button class="btn btn-icon btn-sm btn-secondary-light btn-wave"><i class="ri-thumb-down-line"></i></button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 border-bottom">
                                    <div class="d-flex align-items-start gap-3 flex-wrap">
                                        <div>
                                            <span class="avatar avatar-lg avatar-rounded">
                                                <img src="./assets/images/faces/13.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill w-50">
                                            <span class="fw-medium d-block mb-1">Monte vin</span>
                                            <span class="d-block mb-3">Reading your blog is like taking a journey into the heart of music itself. Your passion for the subject shines through in every word!</span>
                                            <div class="btn-list">
                                                <button class="btn btn-sm btn-primary-light btn-wave">Reply<i class="ri-reply-line ms-1"></i></button>
                                                <button class="btn btn-sm btn-success-light btn-wave">Report<i class="ri-error-warning-line ms-1"></i></button>
                                            </div>
                                        </div>
                                        <div class="btn-list">
                                            <button class="btn btn-icon btn-sm btn-info-light btn-wave"><i class="ri-thumb-up-line"></i></button>
                                            <button class="btn btn-icon btn-sm btn-secondary-light btn-wave"><i class="ri-thumb-down-line"></i></button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-0">
                                    <div class="d-flex align-items-start gap-3 flex-wrap">
                                        <div>
                                            <span class="avatar avatar-lg avatar-rounded">
                                                <img src="./assets/images/faces/6.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill w-50">
                                            <span class="fw-medium d-block mb-1">Master Sets</span>
                                            <span class="d-block mb-3">The importance of carving out moments of stillness in our busy lives to simply listen and be present with the music. It's a powerful reminder that sometimes .</span>
                                            <div class="btn-list">
                                                <button class="btn btn-sm btn-primary-light btn-wave">Reply<i class="ri-reply-line ms-1"></i></button>
                                                <button class="btn btn-sm btn-success-light btn-wave">Report<i class="ri-error-warning-line ms-1"></i></button>
                                            </div>
                                        </div>
                                        <div class="btn-list">
                                            <button class="btn btn-icon btn-sm btn-info-light btn-wave"><i class="ri-thumb-up-line"></i></button>
                                            <button class="btn btn-icon btn-sm btn-secondary-light btn-wave"><i class="ri-thumb-down-line"></i></button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </overlay-scrollbars>
                    </div>
                </div> -->
            </div>
            <div class="col-xl-12">
                <!-- <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Leave a Comment
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row gy-3">
                            <div class="col-xl-6">
                                <label for="blog-first-name" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="blog-first-name" placeholder="Enter Name">
                            </div>
                            <div class="col-xl-6"> 
                                <label for="blog-email" class="form-label">Email ID</label>
                                <input type="text" class="form-control" id="blog-email" placeholder="Enter Email">
                            </div>
                            <div class="col-xl-12">
                                <label for="blog-comment" class="form-label">Write Comment</label>
                                <textarea class="form-control" id="blog-comment" rows="4" placeholder="Write Here......."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-end">
                            <button class="btn btn-primary">Post Comment</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="row">
        
            <div class="col-xl-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Recent Posts
                        </div>
                        <a [routerLink]="'/blogs'" class="fs-12 text-muted"> View All<i class="ti ti-arrow-narrow-right ms-1"></i> </a>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            @for (blog of blogs; track $index) {
                            <li class="list-group-item">
                              <div class="d-flex gap-3 flex-wrap align-items-center">
                                <span class="avatar avatar-xl">
                                  <img [src]="blog.image" class="img-fluid" [alt]="blog.title">
                                </span>
                                <div class="flex-fill">
                                  <a [routerLink]="'/blog-details/' + blog.link" class="fs-14 mb-0" [ngClass]="blog.color">{{ blog.category }}</a>
                                  <p class="mb-1 popular-blog-content text-truncate fw-medium">{{ blog.title }}</p>
                                  <span class="text-muted fs-12">{{ blog.date }}</span>
                                </div>
                                <div>
                                  <button class="btn btn-icon btn-light btn-sm rtl-rotate">
                                    <i class="ri-arrow-right-s-line"></i>
                                  </button>
                                </div>
                              </div>
                            </li>
                        }
                          </ul>
                    </div>
                </div>
            </div>
   
            <div class="col-xl-12">
                <div class="card custom-card bg-primary-transparent border-0 shadow-none">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Our News Letter
                        </div>
                    </div>
                    <div class="card-body">
                        <label class="form-check-label mb-3">
                            Subscribe for Updates on the Latest News & Posts
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control shadow-none" placeholder="Email Here" aria-label="blog-email" aria-describedby="blog-subscribe">
                            <button class="btn btn-primary btn-wave" type="button" id="blog-subscribe">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Popular Tags
                        </div>
                    </div>
                    <div *ngIf="blog" class="card-body">
                        <div class="blog-popular-tags">
                            @for (tag of blog.tags.split(','); track $index) {
                                <a href="javascript:void(0);">
                                    <span class="badge bg-light text-muted">{{tag}}</span>
                                </a>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->