<ng-select 
  [items]="options"
  [id]="id"
  [ngClass]="mainClass"
  [class]="selectClass"
  [bindLabel]="'label'"  
  [bindValue]="'value'"  
  [disabled]="disabled"
  [multiple]="multiple"
  [placeholder]="placeholder"
  [(ngModel)]="defaultValue" 
  [clearable]="clearable"
  [searchable]="searchable"
  [hideSelected]="hideSelected"
  [maxSelectedItems]="maxSelectedItems"
  (change)="onValueChange($event)">
<ng-content></ng-content>
</ng-select>

<div *ngIf="message" [ngClass]="getMessageClass()" class="d-flex align-items-center gap-2">
  <span style="font-size:1.2em;">{{ getMessageIcon() }}</span>
  <span>{{ message }}</span>
</div>
