<app-page-header firstTitle="Pages" title="Blogs & News" title1="Blog" activeTitle="Blog"></app-page-header>

<!-- Start:: row-1 -->
<div class="row">
    <app-grid-loader *ngIf="loading" [rowCount]="2" [columns]="columns">
    </app-grid-loader>
    <div class="col-xl-9">
        <div class="row">
            <div class="col-xl-5">
                <div class="row">
                    @for (blog of featuredBlogs; track $index) {
                    <div class="col-xl-12 col-lg-6 col-md-6">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-body p-0">
                                
                                <a [href]="blog.link"
                                class="fw-medium text-primary ms-2 align-middle fs-12 text-Augoration-underline d-inline-block">
                                <img [src]="blog.image" class="d-block w-100" [alt]="blog.title"></a>
                                <div class="p-3">
                                    
                                    <h5 class="fw-semibold lh-base"><a [href]="blog.link">{{blog.title}}</a></h5>
                                    <p class="mb-3">{{blog.summary | truncateWords:15}}
                                        <a [href]="blog.link"
                                            class="fw-medium text-primary ms-2 align-middle fs-12 text-Augoration-underline d-inline-block">Read
                                            More</a>
                                    </p>
                                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="d-flex align-items-center flex-wrap gap-1">
                                            <a type="button" target="_blank" [href]="'https://www.facebook.com/sharer/sharer.php?u='+blog.link"
                                                class="btn btn-icon btn-facebook btn-wave ng-star-inserted"><i
                                                    class="ri-facebook-line"></i></a>
                                            <a type="button" target="_blank" [href]="'https://twitter.com/intent/tweet?text='+blog.title + ' - ' + blog.link"
                                                class="btn btn-icon btn-twitter btn-wave ng-star-inserted"><i
                                                    class="ri-twitter-x-line"></i></a>
                                            <a type="button" target="_blank" [href]="'whatsapp://send?text='+blog.title + ' - ' + blog.link"
                                                class="btn btn-icon btn-success btn-wave ng-star-inserted"><i
                                                    class="ri-whatsapp-line"></i></a>

                                        </div>
                                        <div class="avatar avatar-sm bg-danger-transparent avatar-rounded">
                                            <i class="ri-heart-line text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="col-xl-7">
                <div *ngIf="blogsList && blogsList.length > 0" class="row">
                    @for (post of blogsList; track $index) {
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <spk-blog-image-card [imageUrl]="post.image" [imageClass]="post.imageClass" [title]="post.title"
                            [pageStyleClass]="post.pageStyleClass" [description]="post.summary" [link]="post.link"
                            [author]="post.author" [TextColor]="post.textColor" [authorImageUrl]="post.avatar"
                            [date]="post.date" [heartColor]="post.heartColor"></spk-blog-image-card>
                    </div>
                    }

                </div>
            </div>

        </div>
    </div>
    <div *ngIf="!loading" class="col-xl-3">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Categories
                        </div>
                        <a href="javascript:void(0);"
                            class="btn btn-light btn-wave btn-sm text-muted waves-effect waves-light">All<i
                                class="ti ti-arrow-narrow-right ms-1 rtl-transform-icon d-inline-block"></i></a>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush list-style">
                            @for (category of categories; track $index) {
                            <li class="list-group-item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="fw-medium">
                                        <i
                                            [class]="category.icon + ' fs-14 p-1 rounded-2 me-2 d-inline-block align-middle lh-1 ' + category.iconBg + ' text-fixed-white'"></i>
                                        {{ category.name }}
                                    </span>
                                    <span [class]="category.badgeClass">{{ category.count }}</span>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End:: row-1 -->