<app-page-header firstTitle="Home" title="Select your exam" title1="Test"
    activeTitle="Currency Exchange"></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card currency-exchange-card">
            <div class="card-body p-5 d-flex align-items-center justify-content-center z-1">
                <div class="container">
                    <h3 class="text-fixed-white text-center">Let’s Get You Exam-Ready!</h3>
                    <span class="d-block fs-16 text-fixed-white text-center op-8 mb-4">
                        Choose your exam preferences to get started on a realistic practice session.
                    </span>
                    <div class="p-3 mb-4 rounded currency-exchange-area">
                        <div class="row gy-3">
                            <!-- <div class="col-xxl-3 col-12">
                                <input type="text" class="form-control" value="0.0453" placeholder="Enter Amount">
                            </div> -->
                            <div class="col-xxl-6 col-12">
                                <div *ngIf="exams">
                                    <spk-ng-select [options]="exams" [selectClass]="''" [clearable]="true"
                                        [multi]="false" [searchable]="true" [defaultValue]="selectedExam" [placeholder]="'Select Your Exam'"
                                        [additionalProperties]="{}" [message]="'Exam is mandatory to start the test'"
                                        [messageType]="'info'" (change)="handleExamChange($event)">
                                    </spk-ng-select>

                                </div>
                            </div>

                            <div class="col-xxl-3 col-12">
                                <spk-ng-select [options]="languages" [selectClass]="''" [clearable]="true"
                                    [multi]="true" [searchable]="true" [placeholder]="'Select Language'"
                                    [additionalProperties]="{}" (change)="handleLanguageChange($event)">
                                </spk-ng-select>

                            </div>

                            <div class="col-xxl-3 col-12">
                                <div *ngIf="isSubjectsLoading" class="text-left">
                                    <button class="btn btn-success-light" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm align-middle" role="status"
                                            aria-hidden="true"></span>
                                        Loading Subjects...
                                    </button>
                                </div>
                                <div *ngIf="!isSubjectsLoading && subjects.length > 0">
                                    <spk-ng-select [options]="subjects" [selectClass]="''" [clearable]="true"
                                        [multi]="false" [searchable]="true" [placeholder]="'Choose Subject Name'"
                                        [additionalProperties]="{}" (change)="handleSubjectChange($event)">
                                    </spk-ng-select>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <div class="text-center">
                     
                        <button *ngIf="loadingTest"  class="btn btn-light" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm align-middle" role="status" aria-hidden="true"></span>
                            Loading your Test. Please wait...
                        </button>
                        <button *ngIf="!loadingTest" [disabled]="selectedExam == null"  (click)="startTest()" class="btn btn-danger btn-wave">Start Your Test Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->

<div *ngIf="tests && tests.length > 0" class="row">
    <div class="row justify-content-center">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap gap-2">
                        <h5 class="fw-medium mb-0 flex-grow-1">Find Your <span class="fw-normal fs-18"> Tests History</span> </h5>                      
                    </div>
                </div>
            </div>
        </div>
        @for (test of tests; track $index) {
        <div class="col-xl-4">
            <div class="card custom-card">
              <div class="card-body">
                <div class="float-end">
                  <a  [routerLink]="['/test', 'test-result', test.id]" class="avatar avatar-rounded bg-primary-transparent avatar-sm" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Add to Wishlist" ngbTooltip="Add to Wishlist">
                    <span><i class="bi bi-heart"></i></span>
                  </a>
                </div>
                <div class="d-flex align-items-center flex-wrap gap-2">
                  <span class="avatar avatar-xl border border-dashed avatar-rounded">
                    <img [src]="'../assets/images/exams/icons/' + test.examCode + '.png'"  (error)="onIconError($event)" [alt]="test.title">
                  </span>
                  <div class="ms-2 mt-2">
                    <h6 class="fw-medium mb-1 d-flex align-items-center">
                      <a [routerLink]="['/test', 'test-result', test.id]">{{ test.title }} <i class="ri-verified-badge-fill text-secondary fs-13" data-bs-toggle="tooltip" ngbTooltip="Verified company"></i></a>
                    </h6>
                    <div class="d-flex gap-2 mb-3 flex-wrap">
                      <a href="javascript:void(0);"><i class="ri-map-pin-2-line text-info"></i> {{ test.language }} </a>
                      <p class="mb-0 text-muted">Date taken - {{ test.createdAt | date: 'dd-MMM-yyyy hh:mm' }}</p>
                    </div> 
                    <div class="d-flex align-items-center mb-2 fs-12 text-muted flex-wrap">
                      <p class="fs-12 mb-0">Your Score : </p>
                      <a href="javascript:void(0);" class="ms-1 min-w-fit-content text-muted">
                        <span> {{test.marksScored}} / {{ test.totalMarks }}</span> 
                      </a>
                    </div>
                    <div class="d-flex gap-1 align-items-center flex-wrap">
                      <a href="javascript:void(0);" class="badge badge-md fs-11 rounded-pill bg-primary-transparent me-1" >
                        <i class="bi bi-people me-1"></i>No. of Questions : {{ test.totalQuestions }}
                      </a>
                      <a href="javascript:void(0);" class="badge badge-md fs-11 rounded-pill bg-danger-transparent">
                        <i class="bi bi-briefcase me-1"></i>Status : {{ test.status }}
                      </a>
                    </div>  
                  </div>                                            
                </div>
              </div>
              <!-- <div class="card-footer">
                <div class="d-grid">
                  <a href="javascript:void(0);" class="btn btn-wave btn-primary">
                    View Details <i class="ri-arrow-right-line align-middle rtl-transform-icon"></i>
                  </a>
                </div>
              </div> -->
            </div>
          </div>
        }
    </div>
</div>