<div class="card custom-card overflow-hidden">
  <a [href]="link" class="{{pageStyleClass}}">
    <img [src]="imageUrl" class="card-img-top {{imageClass}}" [alt]="title">
  </a>
  <div class="card-body">
    <a [href]="link" class="h5 fw-semibold mb-2 d-block lh-base">{{ title }}</a>
    <p *ngIf="description" class="mb-3">{{ description| truncateWords:15 }}
      <a [href]="link"
        class="fw-medium text-{{TextColor}} ms-2 align-middle fs-12 text-Augoration-underline d-inline-block">Read More...</a>
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <app-social-share [url]="link" [title]="title"
                                            [text]="title"
                                            [hashtags]="['QuizloAi','Education']">
                                        </app-social-share>
      <div class="avatar avatar-sm bg-danger-transparent avatar-rounded">
        <i [class]="heartColor"></i>
      </div>
    </div>
    <!-- Optional Badge -->

  </div>
</div>