<app-page-header title="Choose your Exam" title1="Home" activeTitle="Podcast"></app-page-header>


<!-- Start:: row-1 -->
<div class="row mt-5">
    <div class="col-xxl-6">
        <div class="card custom-card card-bg-primary podcast-card">
            <div class="card-body p-4">
                <div class="row justify-content-between">
                    <div class="col-xxl-4 col-xl-5 col-lg-7 col-md-7 col-sm-7 d-sm-block d-none text-end my-auto">
                        <img src="https://res.cloudinary.com/quizloai/image/upload/v1753084896/take-test_csz09g.png" alt="take Mock Test Now" class="img-fluid music-img">
                    </div>
                    <div class="col-xxl-8 col-xl-7 col-lg-5 col-md-5 col-sm-5">
                        <div class="ms-2">
                            <span class="badge bg-white-transparent mb-2">Trending Entrance Tests</span>
                            <h4 class="mb-2 fw-semibold text-fixed-white">Crack NEET, SSC, UPSC and Beyond</h4>
                            <p class="mb-2">Simulate NEET, SSC, UPSC, IIT-JEE exams with full analytics and instant
                                feedback.
                                It's time to make your answers count</p>
                            <div class="fw-medium text-fixed-white"><i class="ti ti-music me-1"></i>5Lac+ Tests taken
                                <span class="ms-2 text-fixed-white fs-12 op-8"><i
                                        class="ri-play-circle-line fs-13 me-1"></i>10k Students Taking
                                    Tests everyday</span>
                                <div class="d-flex align-items-center gap-2 mt-3">                               
                                        <button *ngIf="!loading" (click)="takeTest()" class="btn btn-info label-btn rounded-pill">
                                            <i class="ri-play-line label-btn-icon me-2 rounded-pill"></i>
                                            Take Test Now
                                        </button>
                                        <button *ngIf="loading"  class="btn btn-light label-btn rounded-pill" type="button" disabled>
                                            <i class="ri-play-line label-btn-icon me-2 rounded-pill"></i>
                                            <span class="spinner-grow spinner-grow-sm align-middle" role="status" aria-hidden="true"></span>
                                            Loading exams...
                                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6">
        <div class="row">
            <div class="card custom-card overflow-hidden">
                <div class="card-header">
                    <div class="card-title">
                        Choose Your Exam
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul  *ngIf="exams && exams.length > 0"  class="list-group list-group-flush nft-list d-flex align-items-center gap-4 flex-row p-3 bg-opacity-50 flex-wrap">
                        @for (exam of exams; track $index) {
                        <li class="list-group-item border">
                            <a href="/test/select-exam" class="stretched-link"></a>
                            <div class="d-flex align-items-center gap-2">
                                <div>
                                    <span class="avatar avatar-rounded avatar-md bg-light">
                                        <img [src]="exam.imageUrl || 'https://res.cloudinary.com/quizloai/image/upload/v1753085345/exam_jrjkk9.png'" [alt]="exam.name">
                                    </span>
                                </div>
                                <div class="fs-14 fw-medium">{{exam.code}}
                                    <span class="fs-12 d-block fw-medium text-muted">{{ exam.name }}</span>
                                </div>
                            </div>
                        </li>
                    }
                    </ul>
                </div>
            </div>


            <!-- <div class="col-xl-12">
                <div class="mb-4 d-flex align-items-center justify-content-between">
                    <h6 class="fw-medium mb-0">Our Trending Exams :</h6>
                    <a (click)="takeTest()" class="fs-12 text-muted tag-link"> View All Exams<i
                            class="ti ti-arrow-narrow-right ms-1"></i> </a>
                </div>

                <div *ngIf="exams && exams.length > 0"  class="row">
                    @for (card of exams; track $index) {
                    <div *ngIf="card" class="col-xxl-4 col-md-4 col-sm-6 col-12">
                        <spk-shortcut-card [title]="card.code" [subtitle]="card.name"  [cssClass]="card.cssClass || 'card-bg-primary'">
                        </spk-shortcut-card>
                    </div>
                    }
                </div>
            </div> -->
        </div>

    </div>
</div>
<!-- End:: row-1 -->

<!-- Start: row-2 -->
<div class="row">
    <div class="col-xl-9">
        <div class="mb-4 d-flex align-items-center justify-content-between">
            <h6 class="fw-medium mb-0">Our Blog Posts Categories</h6>
            <a href="javascript:void(0);" class="fs-12 text-muted tag-link"> View All<i
                    class="ti ti-arrow-narrow-right ms-1"></i> </a>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <!-- parent-component.component.html -->
                        <div class="d-flex align-items-center justify-content-between gap-4 flex-wrap">
                            @for (category of categories; track $index) {
                            <spk-categories-card [icon]="category.icon" [label]="category.label"
                                [colorClass]="category.colorClass">
                            </spk-categories-card>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 d-flex align-items-center justify-content-between">
            <h6 class="fw-medium mb-0">Most Popular Blogs :</h6>
            <a href="/blogs" class="fs-12 text-muted tag-link"> View All<i
                    class="ti ti-arrow-narrow-right ms-1"></i> </a>
        </div>
        <div class="row">
            @for (podcast of blogs; track $index) {
            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <spk-recommendations-card [imageUrl]="podcast.image" [title]="podcast.title"
                    [author]="podcast.author" [duration]="podcast.date">
                </spk-recommendations-card>
            </div>
            }
        </div>
    </div>
    <div class="col-xl-3">
        <div class="row">
            <div class="col-xxl-12">
                <div class="card custom-card bg-primary border-0 shadow-none">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-start gap-3 mb-0 p-3 pb-3">
                            <div class="flex-fill">
                                <span class="fw-medium d-block text-fixed-white">TOP BLOG</span>
                            </div>
                        </div>
                        <div class="text-center mb-5 pb-1">
                            <span class="avatar avatar-rounded mb-4 podcast-playing-now-avatar shadow">
                                <img src="https://nationaltestprep.org/wp-content/uploads/2024/01/A_digital_illustration_of_a_student_standing_confide_00f0570a-9c78-47d7-a07a-81e20c3e2232-1080x614.webp" alt="">
                            </span>
                            <a href="javascript:void(0);">
                                <h6 class="fw-medium mb-1 text-fixed-white">Top Mistakes
                                    Students Make in Mock Tests — and How to Fix Them</h6>
                            </a>
                            <span class="text-fixed-white op-8 fs-12">By Sushant Gupta</span>
                        </div>
                        <div class="p-3 py-4 bg-white-transparent">
                            <div class="row justify-content-center">
                                <div class="text-center">
                                    <a href="/blogs" class="btn btn-warning me-1 ng-star-inserted">Read More >> </a>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: row-2 -->