<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="card custom-card my-4">
        <div class="card-body p-5">
            @if(errorMessage.length > 0){
            <p class="text-danger">
                {{errorMessage}}</p>
            }
            @if(_error.message.length > 0){
            <p class="text-danger">
                {{_error.message}} </p>
            }

            <p class="h5 mb-2 text-center">Sign In</p>
            <p class="mb-4 text-muted op-7 fw-normal text-center">Welcome back to Admin Portal !</p>
            <!-- <div *ngIf="_error" class="alert alert-danger d-flex align-items-center my-2" role="alert">
                <svg class="flex-shrink-0 me-2 svg-danger" xmlns="http://www.w3.org/2000/svg"
                    enable-background="new 0 0 24 24" height="1.5rem" viewBox="0 0 24 24" width="1.5rem" fill="#000000">
                    <g>
                        <rect fill="none" height="24" width="24" />
                    </g>
                    <g>
                        <g>
                            <g>
                                <path
                                    d="M15.73,3H8.27L3,8.27v7.46L8.27,21h7.46L21,15.73V8.27L15.73,3z M19,14.9L14.9,19H9.1L5,14.9V9.1L9.1,5h5.8L19,9.1V14.9z" />
                                <rect height="6" width="2" x="11" y="7" />
                                <rect height="2" width="2" x="11" y="15" />
                            </g>
                        </g>
                    </g>
                </svg>
                <div>Incorrect email or password. Try again!</div>
            </div> -->

            <div *ngIf="submitted">
                <app-form-submit-loader [isOverlay]="true"
                    [submessage]="'Please wait while we login you in and create your Test.'">
                </app-form-submit-loader>
            </div>
            <div *ngIf="!submitted" class="row gy-3">
                <div class="col-xl-12">
                    <label for="signin-username" class="form-label text-default">Email Address<sup
                            class="fs-12 text-danger">*</sup></label>
                    <input type="text" class="form-control" id="signin-username" placeholder="Email Address"
                        autocomplete formControlName="email" required>
                </div>
                <div class="col-xl-12 mb-2">
                    <label for="signin-password" class="form-label text-default d-block">Password<sup
                            class="fs-12 text-danger">*</sup><a href="javascript:void(0);"
                            class="float-end fw-normal text-primary">Forget password ?</a></label>
                    <div class="position-relative">
                        <input type="password" class="form-control create-password-input" id="signin-password"
                            autocomplete placeholder="password" [type]="showPassword ? 'text' : 'password'" autocomplete
                            placeholder="Password" formControlName="password" required>
                        <a href="javascript:void(0);" class="show-password-button text-muted" (click)="togglePassword()"
                            id="button-addon2"><i class="ri-eye-{{toggleClass}} align-middle"></i></a>
                    </div>

                </div>
            </div>
            <div class="d-grid mt-4">
                <button [disabled]="!loginForm.valid || authService.showLoader" autofocus
                    [class.loader--text]="authService.showLoader" class="btn btn-primary{{disabled}}">Sign In</button>
            </div>
            <!-- <div class="text-center">
                <p class="text-muted mt-3 mb-0">Don't have an account?
                    <a (click)="register()" class="text-primary fw-medium">Register & Continue >> </a>
                </p>
            </div> -->
        </div>
    </div>
</form>